<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhe.modules.demo.dao.DStudentMapper">

    <select id="getListbyName" resultType="com.jinhe.modules.demo.entity.DStudent">
        SELECT * from d_student where name=#{name}
    </select>
    <select id="listDly" resultType="com.jinhe.modules.demo.dto.DStudentDto">
        SELECT NAME ,
            group_concat(
            DISTINCT
            CASE

                    WHEN d_student.id IS NOT NULL THEN
                    ( concat( d_student.id, '_', d_student.`subject`, '_', d_student.score ) ) ELSE ''
                END
                ) AS item
            FROM
                d_student
            WHERE
                NAME = #{name}
        GROUP BY
            d_student.`name`
    </select>
    <select id="getListDly1" resultType="com.jinhe.modules.demo.dto.DStudentDto">
        SELECT NAME ,
        group_concat(
        DISTINCT
        CASE
        WHEN d_student.id IS NOT NULL THEN
        ( concat( d_student.id, '_', d_student.`subject`, '_', d_student.score ) ) ELSE ''
        END
        ) AS item
        FROM
        d_student
        <where>
            <if test="name !=null and name!=''">
                and NAME = #{name}
            </if>
        </where>
        GROUP BY
        d_student.`name`
    </select>
    <select id="getListDly2" resultType="com.jinhe.modules.demo.dto.DStudentDto">
        SELECT NAME ,
        group_concat(
        DISTINCT
        CASE
        WHEN d_student.id IS NOT NULL THEN
        ( concat( d_student.id, '_', d_student.`subject`, '_', d_student.score ) ) ELSE ''
        END
        ) AS item
        FROM
        d_student
        <where>
            <if test="ids !=null and ids.size>0">
                and id in
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        GROUP BY
        d_student.`name`
    </select>
</mapper>
