<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhe.modules.sys.dao.SysUserMapper">

    <select id="listByOrganId" resultType="com.jinhe.modules.sys.dto.SysUserDTO">
        SELECT
        su.*,
        group_concat(
        DISTINCT
        CASE

        WHEN so.id IS NOT NULL THEN
        ( concat( so.id, '_', so.`name` ) ) ELSE ''
        END
        ) AS organs
        FROM
        sys_user su
        INNER JOIN sys_user_organ suo ON suo.user_id = su.id
        INNER JOIN (
        (
        WITH RECURSIVE td AS (
        SELECT
        sys_organ.id,
        sys_organ.`name`
        FROM
        sys_organ
        WHERE
        <choose>
            <when test="organId != null and organId != '' ">sys_organ.parent_id = #{organId}</when>
            <otherwise>sys_organ.parent_id IS NULL</otherwise>
        </choose>

        UNION ALL
        SELECT
        c.id,
        c.`name`
        FROM
        sys_organ c,
        td
        WHERE
        c.PARENT_ID = td.id
        ) SELECT
        *
        FROM
        td
        )
        ) so ON so.id = suo.organ_id
        <where>
            <if test="keyWord != null ">
                and su.normalized_username LIKE CONCAT('%',#{keyWord},'%') or su.NICK_NAME LIKE
                CONCAT('%',#{keyWord},'%')
            </if>
            <if test="state !=null ">
                and su.state =#{state}
            </if>
        </where>
        GROUP BY
        su.id
    </select>
</mapper>
