<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhe.modules.system.dao.SysLogMapper">
    <select id="selectPageVo" parameterType="SysLog" resultType="com.jinhe.modules.system.dto.SysLogVo">
          SELECT * from sys_log
    </select>
    <select id="selectSysRoleVo" parameterType="java.util.HashMap" resultType="com.jinhe.modules.system.entity.SysRole">
        WITH RECURSIVE td AS (
        SELECT
        sys_role.*
        FROM
        <choose>
            <when test="userId != null">
                sys_role
                LEFT JOIN sys_user_role ON sys_role.ROLE_ID=sys_user_role.ROLE_ID WHERE sys_user_role.USER_ID =
                #{userId} UNION ALL
            </when>
            <when test="roleId != null">
                sys_role where id =#{roleId} UNION ALL
            </when>
            <otherwise>
                sys_role where PARENT_ID is null UNION ALL
            </otherwise>
        </choose>
        SELECT
        c.*
        FROM
        sys_role c,
        td
        WHERE
        c.PARENT_ID = td.id
        ) SELECT
        *
        FROM
        td
    </select>
</mapper>
