<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhe.modules.system.dao.SysOrganMapper">

    <select id="selectPageOrgan" resultType="com.jinhe.modules.system.entity.SysOrgan">
            SELECT
        id,
        parent_id,
        type,
        CODE,
        NAME,
        full_name,
        region_code,
        region_name,
        description,
        state,
        sort,
        path,
        depth,
        create_user ,
        group_concat( concat( id, '_', NAME )  ) as combination
    FROM
        sys_organ
        GROUP BY 	id,
        parent_id,
        type,
        CODE,
        NAME,
        full_name,
        region_code,
        region_name,
        description,
        state,
        sort,
        path,
        depth,
        create_user
    </select>


    <delete id="deleteByPer">
        <if test="organId!=null and organId!=''">
            DELETE
            FROM
            sys_permission
            WHERE
            orgion_id = #{organId}
        </if>
    </delete>
    <delete id="deleteByUser">
        <if test="organId!=null and organId!=''">
            DELETE
            FROM
            SYS_USER_ORGAN
            WHERE
            organ_id = #{organId}
        </if>
    </delete>
    <!--    根据userId查询-->
    <select id="SelectOrgansByUserId" resultType="com.jinhe.modules.system.entity.SysOrgan">
        SELECT DISTINCT
        sys_organ.*
        FROM
        sys_organ
        LEFT JOIN sys_user_organ ON sys_user_organ.organ_id = sys_organ.id
        <where>
            <if test="userId != null or userId != ''">
                sys_user_organ.user_id = #{userId}
            </if>
        </where>
    </select>
    <update id="updateCustom">
        UPDATE
            SYS_ORGAN
        SET
            NAME = #{sysOrgan.name} , DESCRIPTION = #{sysOrgan.description} , STATE = #{param1.state}
            , SORT = #{sysOrgan.sort}
        WHERE
            ID = #{sysOrgan.id}
    </update>
    <select id="selectOrganIdsByIds" resultType="com.jinhe.modules.system.dto.SysOrganBaseDTO">
        select distinct id as organId from
        sys_organ
        start with id in
        <foreach collection="organIds" index="organIds" item="organIds" open="(" close=")" separator=",">
            #{organIds}
        </foreach>
        connect by prior ID = PARENT_ID

    </select>
    <select id="selectOrgan" resultType="com.jinhe.modules.system.dto.SysOrganDTO">
        SELECT
        o1.id,
        o1.parent_id as parentId,
        o1.type,
        o1.`code`,
        o1.`name`,
        o1.region_code as regionCode,
        o1.region_name as regionName,
        o1.description,
        o1.state,
        o1.sort,
        o1.path,
        o1.depth,
        o1.create_user as createUser,
        o1.create_time as createTime,
        o1.update_time as updateTime,
        count(o2.id) as childrenNum
        FROM
        sys_organ o1
        LEFT JOIN sys_organ o2 ON o2.parent_id = o1.id
        <if test="code != null and code != ''">
            WHERE o1.parent_id =#{code}
        </if>
        <if test="code == null or code == ''">
            WHERE o1.parent_id ='000000000000' or o1.parent_id is null or o1.parent_id=''
        </if>
        GROUP BY
        o1.id,
        o1.parent_id,
        o1.type,
        o1.`code`,
        o1.`name`,
        o1.region_code,
        o1.region_name,
        o1.description,
        o1.state,
        o1.sort,
        o1.path,
        o1.depth,
        o1.create_user,
        o1.create_time,
        o1.update_time
    </select>
    <select id="selectOrganByUserId" resultType="com.jinhe.modules.system.dto.SysOrganDTO">
        SELECT
            o.*
        FROM
            sys_organ o
            LEFT JOIN sys_user_organ u ON o.id = u.organ_id
        WHERE
            u.user_id = #{userId}
    </select>
    <select id="selectOrganByUserIdAndorganId" resultType="com.jinhe.modules.system.dto.SysOrganDTO">
        SELECT
            o.*
        FROM
            sys_organ o
            LEFT JOIN sys_user_organ u ON o.id = u.organ_id
        WHERE
            o.PARENT_ID = #{organId}
    </select>
    <select id="selectOrganByorganId" resultType="com.jinhe.modules.system.dto.SysOrganDTO">
        SELECT
            o.*
        FROM
            sys_organ o
        WHERE
            o.PARENT_ID = #{organId}
    </select>
    <select id="selectCountByPreantId" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM
        sys_organ o
        LEFT JOIN sys_user_organ u ON o.id = u.organ_id
        WHERE
        o.PARENT_ID = #{organId}
        <if test="userId != null and userId != ''">
            AND u.user_id = #{userId}
        </if>
    </select>

    <select id="GetOrganSubset" resultType="com.jinhe.modules.system.entity.SysOrgan">
        select a.* from Sys_Organ a
        <where>
            <if test="startDepth != null and startDepth != ''">
                a.DEPTH <![CDATA[ >= ]]>  #{startDepth}
            </if>
            <if test="endDepth != null and endDepth != ''">
                and a.DEPTH <![CDATA[ <= ]]>  #{endDepth}
            </if>

            <foreach collection="organIds" item="organId" open=" and  (" close=")" separator=" or ">
                (a.Path like '%'||#{organId}||',%' or a.Path=#{organId})
            </foreach>
        </where>
    </select>

</mapper>
