<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhe.modules.system.dao.SysResourceItemMapper">
    <insert id="add" >
        INSERT INTO SYS_RESOURCE_ITEM (ID,RESOURCE_ID,DISPLAY_NAME,STATE,SORT,NAME,UPDATE_TIME)
        values (#{sysRes.id},#{sysRes.resourceId},#{sysRes.displayName},#{sysRes.state},#{sysRes.sort},#{sysRes.name},#{sysRes.updateTime})
    </insert>
    <update id="modify">
        UPDATE
            SYS_RESOURCE_ITEM I
        SET
            I.DISPLAY_NAME = #{sysRes.displayName}
            , I.NAME = #{sysRes.name}
            , I.RESOURCE_ID = #{sysRes.resourceId}
            , I.STATE = #{sysRes.state}
            , I.SORT = #{sysRes.sort}
        WHERE
            I.ID = #{id}
    </update>

    <select id="getListById" resultType="com.jinhe.modules.system.dto.SysResourceItemDTO">
        SELECT * FROM
            SYS_RESOURCE_ITEM
         WHERE RESOURCE_ID = #{id}
    </select>
    <select id="select" resultType="com.jinhe.modules.system.entity.SysResourceItem">
        SELECT *
        FROM
            SYS_RESOURCE_ITEM
        WHERE
            ID = #{id}
    </select>
</mapper>
