<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhe.modules.system.dao.SysRoleMapper">


    <!-- 查询用户列表-->
<select id="selectRoleList" resultType="com.jinhe.modules.system.dto.SysRole">
    select * from sys_role
</select>
</mapper>
