<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhe.modules.system.dao.SysRegionMapper">

    <!-- 查询行政区列表-->
    <select id="selectRegionList" resultType="com.jinhe.modules.system.dto.SysRegion">
        select * from sys_region
    </select>
</mapper>
