<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhe.modules.system.dao.SysRegionMapper">


    <!-- 查询行政区列表-->
    <select id="selectRegionList" resultType="com.jinhe.modules.system.dto.SysRegionDto">
        SELECT
        r1.id,
        r1.`code`,
        r1.parent_code,
        r1.`name`,
        r1.full_name,
        r1.level_info,
        count(r2.id)	as childrenNum
        FROM
        sys_region r1
        LEFT JOIN sys_region r2 ON r2.parent_code = r1.`code`
        <if test="code != null and code != ''">
            WHERE r1.parent_code  =#{code}
        </if>
        <if test="code == null or code == ''">
            WHERE r1.parent_code  ='000000000000' or r1.parent_code is null or r1.parent_code=''
        </if>
        GROUP BY
        r1.id,
        r1.`code`,
        r1.parent_code,
        r1.`name`,
        r1.full_name,
        r1.level_info
    </select>
    <select id="selectLevelInfo" resultType="java.lang.Integer">
        SELECT
            level_info
        FROM
            sys_region R
        WHERE
            R.CODE = #{parentCode}
    </select>
    <update id="updateByRegionId">
        UPDATE
            sys_region
        SET
            CODE = #{sysRegion.code} , NAME = #{sysRegion.name} , PARENT_CODE = #{sysRegion.parentCode}
        WHERE
            ID = #{id}
    </update>
    <update id="updateParentCodeBycode">
        UPDATE
            sys_region
        SET
            PARENT_CODE = #{newCode}
        WHERE
            PARENT_CODE = #{code}
    </update>
    <delete id="delRegion">
        DELETE FROM
            sys_region
        WHERE
            id = #{id}
    </delete>
    <select id="getItemCount" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            sys_region
        WHERE
            PARENT_CODE = (
                SELECT
                    code
                FROM
                    sys_region
                WHERE
                    ID = #{id}
                )
    </select>
    <select id="selectParentCode" resultType="java.lang.String">
        SELECT
            CODE
        FROM
            sys_region
         WHERE
            id = #{id}
    </select>


</mapper>
