<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhe.modules.system.dao.SysUserRoleMapper">


    <insert id="insertList">
        insert into sys_user_role (id, user_id, role_id)
        <foreach collection="list" item="role" separator="UNION">
            select
            #{role.id},#{role.userId}, #{role.roleId}
            from dual
        </foreach>
    </insert>
    <select id="selectByRoleId" resultType="com.jinhe.modules.system.entity.SysUserRole">
        select * from sys_user_role where role_id = #{id}

    </select>
    <!--根据userId删除-->
    <delete id="deleteByUserId">
        delete from sys_user_role where user_id = #{userId}
    </delete>
    <delete id="deleteByUserIdAndRoleId">
    DELETE o
    FROM
        sys_user_role o
    WHERE
        o.user_id = #{userId}

        AND o.role_id IN (
            WITH RECURSIVE td AS ( SELECT id FROM sys_role WHERE id = #{roleId} UNION ALL
            SELECT c.id FROM sys_role c, td WHERE c.PARENT_ID = td.id ) SELECT
            *
        FROM
            td
        )
    </delete>
</mapper>
