<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhe.modules.system.dao.SysUserMapper">

    <select id="selectUserByOrganIdRole" resultType="com.jinhe.modules.system.dto.SysUserDto">
    SELECT
        u.*,
        group_concat( DISTINCT CASE WHEN o.id IS NOT NULL THEN ( concat( o.id, '_', o.NAME ) ) ELSE '' END ) AS ORGAN,
        group_concat( DISTINCT CASE WHEN r.id IS NOT NULL THEN ( concat( r.id, '_', r.NAME ) ) ELSE '' END ) AS ROLE
    FROM
        sys_user u
        LEFT JOIN sys_user_organ uo ON uo.user_id = u.ID
        LEFT JOIN sys_organ o ON o.id = uo.organ_id
        LEFT JOIN sys_user_role ur ON ur.user_id = u.ID
        LEFT JOIN sys_role r ON r.id = ur.role_id
        <where>
            u.state=#{state}
            <if test="normalizedUserName != null and normalizedUserName != ''">
                <bind name="bindselectword" value="'%'+normalizedUserName+'%'"></bind>
                and (u.nick_name like #{bindselectword} or u.NORMALIZED_USERNAME like #{bindselectword})
            </if>
            <if test="organId != null and organId != ''">
                and uo.organ_id = #{organId}
            </if>
            <if test="roleId != null and roleId != ''">
                and ur.role_id = #{roleId}
            </if>
        </where>
    GROUP BY
        u.ID
    ORDER BY
        u.CREATE_TIME DESC
    </select>
    <!-- 删除用户-->
    <delete id="deleteUserById" parameterType="java.lang.String">
        delete from sys_user where id=#{userId};
        delete from sys_user_role where user_id=#{userId};
        delete from sys_user_organ where user_id=#{userId};
    </delete>

</mapper>
